body {
    background-color: #f0f8ff;  
    color: black;              
}
a:visited {  
    color: green;
}
table + hr {
    height: 1px;          
    width: 80%;          
    background-color: rgb(220, 217, 217);
}



h1 {
    color: green;       
    text-align: center;  
}
h1 + hr {
    height: 3px;              
    width: 80%;                
    background-color: #2e8b57; 
    margin: 10px auto; 
}
hr.before-h1 {
    height: 3px;
    width: 80%;
    background-color: #2e8b57;
    border: none;
    margin: 10px auto; 
}
td:has(a) {
    text-align: right;       
    font-family: Arial;     
    font-size: 16px ; }
    a:hover{
        color : pink
    }
    a {
        text-decoration: none;
    }
    ul{
         list-style-type: square ;
        list-style-position: inside ;
    }
   